* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}




/*------------- Share Style-------------- */
.display-none{
    display: none;
}





/*------------------------------- Header Styles ----------------------- */
.header {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 3rem;
    padding: 0px 20px;
    
}
/* .navbar-position{
    position: fixed;
    width: 100%;
} */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    padding: 20px 0px;
    box-shadow: 0px 1px 1px 0px  #ebebeb;
    
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;

}

.nav-links li a {
    text-decoration: none;
    color: #3A3A3A;
    transition: color 0.5s;

}

.nav-links li a:hover {
    color: rgb(36, 124, 202);
}



/* banner Style */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Banner Container Styles 01 */
.banner-container01 {
    max-width: 580px;
}
.banner-container-title{
    font-size: 3rem;
    font-weight: bold;

}
.banner-container-description {
    max-width: 500px;
}
.banner-container01 .btn{
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 24px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: background-color .2s;
}
.banner-container01 .btn:hover {
    background-color: #f80760;
}
.banner-container01 .btn i {
    margin-top: 30px;
    margin-left: 10px;
}

/* Banner Container Styles 02 */

.banner-container02 {
    max-width: 480px;
    position: relative;
}

.banner-container02 img:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* --------------------------Main------------------------------- */
.main{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 20px;
}


/*----------------sponsor Section--------------- */

.sponsor-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid rgb(230, 235, 240); 
    padding: 35px 62px;
    margin-top: 68px;
    margin-bottom: 70px;
}



/* <!------------- card-popular-collection -------------> */
.card-popular-collection{
     max-width: 1090px;
     margin: 0px auto; 
    margin-bottom: 100px; 
}
.popular-card-title{
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 30px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
    background-color: white;   
}
.card{
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    padding: 17px 15px;
    border-radius: 100px 8px 8px 8px;
}

.card-image img{
    width: 100%;
}
.card-title{
    font-weight: 500;
    font-size: 1.75rem;
}
.price{
    font-size: 1.5rem;
    font-weight: 500;
}
.rating i{
    color: #FB8200;
    margin: 20px 0px;
}
.rating span{
    font-weight: 600;
}
.card-text{
    color: #787885;
    font-weight: 500;
}

.see-more{
    text-align: right;
    margin-top: 50px;
}
.see-more >p >a{
    text-decoration: none;
    color: #E02C6D;
}






/* ------------------ featured --------------------- */

.featured{
    display: flex;
    align-items: center;
    gap: 90px;
    margin-bottom: 100px;

}
.featured-title{
    font-size: 2.35rem;
    font-weight: bold;
    color: #0A0826;

}
.featured-description{
    font-weight: bold;
    color: #6C6C6C;
    max-width: 505px;
}
.featured-button{
    text-decoration: none;
    border: none;
    /* width: 155px; */
    padding: 10px 24px;
    background-color: #E02C6D;
    margin-top: 25px;
    transition: background-color .2s;
}
.featured-button .btn{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.featured-button .btn i{
    margin-left: 8px;
}
.featured-button:hover {
    background-color: #fc005c;
}




/* -------------- Footer -------------- */

.footer{
    background-color: #0A0826;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    margin: 50px 0px;
    text-align: center;
}
.footer-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;

}
.copyright-text{
 font-size: 14px;
 font-weight: bold;
 color: #D9DBE1;
 line-height: 25px;
}
.social-media-icon{
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}
.social-media-icon a{
    text-decoration: none;
    width: 32px;
    color: rgb(255, 255, 255);
    padding: 9px 8px;
}
.social-media-icon a i{
    height: 17px;
    width: 17px;
    margin: 0 auto;
}
.icon-style-2nd img{
    margin: 0 auto;
}